@charset"UTF-8"
/*Global View*/

body{
    background-color: #c2d6db;
}
hr{
    border-style: none; background-color: #92daec;
    height: 2pt;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    size: 12px;
}


/*Tablet View*/

@media (min-width=401px) and (max-width=768px){
}


@media (max-width=400px){
}
